.heading {
    font-size: 4vw;
    padding: 15vh 0 5vh 0;
    margin: 0;
    color: blanchedalmond;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.weatherInputField {
    min-width: 60vw;
    font-size: 2.5vw;
    text-align: center;
    padding: 1vw 0;
    margin-bottom: 5vh;
    background-color: blanchedalmond;
}

.showWeather {
    font-size: 2vw;
    padding: 1vw 3vw;
    border-radius: 20%;
    background-color: black;
    color: blanchedalmond;
    border-style: none;
    cursor: pointer;
}

.showWeather:hover {
    background-color: blanchedalmond;
    color: black;
}

@media screen and (max-width: 1200px) {
    .heading {
        font-size: 5vw;
    }
    .weatherInputField {
        font-size: 3vw;
    }
    .showWeather {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 992px) {
    .heading {
        font-size: 6vw;
    }
    .weatherInputField {
        font-size: 4vw;
    }
    .showWeather {
        font-size: 3vw;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 7vw;
    }
    .weatherInputField {
        font-size: 5vw;
    }
    .showWeather {
        font-size: 4vw;
    }
}

@media screen and (max-width: 576px) {
    .heading {
        font-size: 10vw;
    }
    .weatherInputField {
        font-size: 7vw;
    }
    .showWeather {
        font-size: 6vw;
    }
}
