.app {
    text-align: center;
    min-height: 100vh;
    background: no-repeat url("https://img1.akspic.ru/previews/3/5/2/3/1/113253/113253-list-semeystvo_travy-zavod-pochvopokrovnaya-trava-x750.jpg");
    background-size: cover;
    font-family: serif;
}
